@import '/src/variables.scss';




header {
    height: 7rem;
    width: 100vw;
    background-color: $white;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    .logo-container{
        display: flex;
        gap: 0.2rem;
        span{
            height: 25px;
            width: 7px;
            border-radius: 2px;
            background-color: $purple;
        }
        .line2{
            opacity: 0.75;
        }
        .line3{
            opacity: 0.5;
        }
    }

    .add-task-see-more-container {
        display: flex;
        margin-left: auto;
        gap: 0.5rem;
        .three-dots-button {
            border: none;
            background: none;
            padding: 0;
        }
        .add-task-button {
            background-color: $purple;
            border: none;
            border-radius: 24px;
            height: 3rem;
            width: 4.5rem;
            img {
                padding-top: 1px;
            }
        }
    }
    .edit-delete-board-container-none {
        display: none;
    }
    
    .edit-delete-board-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 7rem;
        background-color: $white;
        box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
        border-radius: 8px;
        height: 100px;
        width: 170px;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-left: 10px;
        .edit-board {
            border: none;
            background: none;
            font-family: $mainFont;
            color: $mediumGray;
            font-weight: $FW500;
            font-size: $taskFont;
        }
        .delete-board {
            border: none;
            background: none;
            font-family: $mainFont;
            color: $red;
            font-weight: $FW500;
            font-size: $taskFont;
        }
    }
}